
<!-- 该文件用来注册 bean -->

<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
		
		<!-- 加入Aspectj配置 -->
		<aop:aspectj-autoproxy />
		<bean id="logAspect" class="com.xxx.aop.LogAspect" />
		
		<!-- 电影业务逻辑对象 -->
		<bean id="filmService" class="com.xxx.service.FilmServiceImpl"></bean>	
		
		<!-- 管理员业务逻辑对象 -->
		<bean id="adminService" class="com.xxx.service.AdminServiceImpl"></bean>
		
		<!-- 日志记录业务逻辑对象 -->
		<bean id="logService" class="com.xxx.service.LogServiceImpl"></bean>		
</beans>